<a href="https://colab.research.google.com/github/KishorSubbarayalu/Pandas-Exercise/blob/valueSelection/Pandas_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [ ]:
# Series Creation

series = pd.Series([1,2,3,np.nan,9])

In [ ]:
series

0    1.0
1    2.0
2    3.0
3    NaN
4    9.0
dtype: float64

In [ ]:
# Difference between None and NaN,nan,NAN

a = pd.Series([1,2,None])
b = pd.Series([1,2,np.nan])
print(a)
print(b)

# Pandas type casts the None object to np.nan float type so that most of the 
# functions could be performed on the series

0    1.0
1    2.0
2    NaN
dtype: float64
0    1.0
1    2.0
2    NaN
dtype: float64

In [ ]:
a = pd.Series([1,2,None], dtype='O')
b = pd.Series([1,2,np.nan])
print(a)
print(b)

# In this case, as we type casted the data type of the series is 'Object'

0       1
1       2
2    None
dtype: object
0    1.0
1    2.0
2    NaN
dtype: float64

In [ ]:
None + 5 # Results in type error

TypeError: ignored

In [ ]:
np.nan + 5 # Any operations to nan in nan
# There are several functions in numpy to exculde NaN and perform operations
# such as sum, max, mean, std, var, etc

nan

In [ ]:
# Equality Operation

print(None == None)
print(np.NaN == np.NaN)
print(None == np.NaN)

True
False
False

In [ ]:
# Other functions should be used to check the NAN values


print(pd.isna(np.nan))
print(pd.isna(None))
print(pd.isnull(np.nan))
print(pd.isnull(None))

# isna() and isnull() of pandas are same implementations

print(np.isnan(np.nan))
print(np.isnan(None)) # Numpy functions are not applicable to 'None' object

True
True
True
True
True

TypeError: ignored

In [ ]:
# https://github.com/pandas-dev/pandas/issues/32265
# https://kegui.medium.com/what-is-the-difference-between-nan-none-pd-nan-and-np-nan-a8ee0532e2eb
# https://www.askpython.com/python/examples/nan-in-numpy-and-pandas

In [ ]:
# Dataframe Creation

date = pd.date_range('20220503',periods=6)
date
df = pd.DataFrame(np.random.randn(6,4), index=date, columns=['a','b','c','d'])
# randn() returns 6*4 numbers from standard normal distribution
print(df)
print(df.dtypes)

                   a         b         c         d
2022-05-03 -0.405449  0.363306  1.376046  0.940397
2022-05-04 -1.002489  0.243941  0.325529  0.320393
2022-05-05  0.341818 -0.665254 -0.089124  0.028798
2022-05-06 -1.569562  1.563290 -0.287468 -1.498427
2022-05-07 -0.040120 -0.168532 -1.338653 -1.201339
2022-05-08  0.485301 -0.163803  1.865665  0.934281
a    float64
b    float64
c    float64
d    float64
dtype: object

In [ ]:
df2 = pd.DataFrame({ 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
      'D' : np.array([3] * 4,dtype='int32'),
      'E' : pd.Categorical(["test","train","test","train"]),
      'F' : 'foo' })
print(df2)
print(df2.dtypes)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
df2.head(2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.tail(2)

     A          B    C  D      E    F
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [ ]:
df2.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [ ]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [ ]:
df2.describe(include='all')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

          A                    B    C    D     E    F
count   4.0                    4  4.0  4.0     4    4
unique  NaN                    1  NaN  NaN     2    1
top     NaN  2013-01-02 00:00:00  NaN  NaN  test  foo
freq    NaN                    4  NaN  NaN     2    4
first   NaN  2013-01-02 00:00:00  NaN  NaN   NaN  NaN
last    NaN  2013-01-02 00:00:00  NaN  NaN   NaN  NaN
mean    1.0                  NaN  1.0  3.0   NaN  NaN
std     0.0                  NaN  0.0  0.0   NaN  NaN
min     1.0                  NaN  1.0  3.0   NaN  NaN
25%     1.0                  NaN  1.0  3.0   NaN  NaN
50%     1.0                  NaN  1.0  3.0   NaN  NaN
75%     1.0                  NaN  1.0  3.0   NaN  NaN
max     1.0                  NaN  1.0  3.0   NaN  NaN

In [ ]:
# transposing index to columns and columns to index

print(df2.T)
print(df2.T.index)
print(df2.T.columns)

                     0                    1                    2  \
A                  1.0                  1.0                  1.0
B  2013-01-02 00:00:00  2013-01-02 00:00:00  2013-01-02 00:00:00
C                  1.0                  1.0                  1.0
D                    3                    3                    3
E                 test                train                 test
F                  foo                  foo                  foo

                     3
A                  1.0
B  2013-01-02 00:00:00
C                  1.0
D                    3
E                train
F                  foo
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')
Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
# Sorting the dataframe by axis

df2.sort_index(axis=0, ascending=False)

     A          B    C  D      E    F
3  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
0  1.0 2013-01-02  1.0  3   test  foo

In [ ]:
df2.sort_index(axis=1, ascending=False)

     F      E  D    C          B    A
0  foo   test  3  1.0 2013-01-02  1.0
1  foo  train  3  1.0 2013-01-02  1.0
2  foo   test  3  1.0 2013-01-02  1.0
3  foo  train  3  1.0 2013-01-02  1.0

In [ ]:
# Key attribute shall be used to apply a function/logic to index label before
# performing sorting. By defualt, quick sorting occurs
# Other algorithms in pandas {‘quicksort’, ‘mergesort’, ‘heapsort’, ‘stable’}

df2.T.sort_index(key=lambda z : z.str.lower(), ascending=False)

,0,1,2,3
F,foo,foo,foo,foo
E,test,train,test,train
D,3,3,3,3
C,1.0,1.0,1.0,1.0
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
A,1.0,1.0,1.0,1.0

In [ ]:
# Sorting the dataframe by values

print(df)
print(df.sort_values(by='a'))
df2['G'] = pd.Series([1,2,4,3])
print(df2)
print(df2.sort_values(by=['E','G']))

                   a         b         c         d
2022-05-03 -0.405449  0.363306  1.376046  0.940397
2022-05-04 -1.002489  0.243941  0.325529  0.320393
2022-05-05  0.341818 -0.665254 -0.089124  0.028798
2022-05-06 -1.569562  1.563290 -0.287468 -1.498427
2022-05-07 -0.040120 -0.168532 -1.338653 -1.201339
2022-05-08  0.485301 -0.163803  1.865665  0.934281
                   a         b         c         d
2022-05-06 -1.569562  1.563290 -0.287468 -1.498427
2022-05-04 -1.002489  0.243941  0.325529  0.320393
2022-05-03 -0.405449  0.363306  1.376046  0.940397
2022-05-07 -0.040120 -0.168532 -1.338653 -1.201339
2022-05-05  0.341818 -0.665254 -0.089124  0.028798
2022-05-08  0.485301 -0.163803  1.865665  0.934281
     A          B    C  D      E    F  G
0  1.0 2013-01-02  1.0  3   test  foo  1
1  1.0 2013-01-02  1.0  3  train  foo  2
2  1.0 2013-01-02  1.0  3   test  foo  4
3  1.0 2013-01-02  1.0  3  train  foo  3
     A          B    C  D      E    F  G
0  1.0 2013-01-02  1.0  3   test  foo  1
2  1.0 2013-01-02  1.0  3   test  foo  4
1  1.0 2013-01-02  1.0  3  train  foo  2
3  1.0 2013-01-02  1.0  3  train  foo  3

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
df['longitude']

0       -114.31
1       -114.47
2       -114.56
3       -114.57
4       -114.57
          ...
16995   -124.26
16996   -124.27
16997   -124.30
16998   -124.30
16999   -124.35
Name: longitude, Length: 17000, dtype: float64

In [ ]:
df[0:5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
# .loc function shall be used to select a series or dataframe using label. 
# may be index or columns
df.loc[0]

longitude              -114.3100
latitude                 34.1900
housing_median_age       15.0000
total_rooms            5612.0000
total_bedrooms         1283.0000
population             1015.0000
households              472.0000
median_income             1.4936
median_house_value    66900.0000
Name: 0, dtype: float64

In [ ]:
df.loc[:,['longitude','latitude']]

       longitude  latitude
0        -114.31     34.19
1        -114.47     34.40
2        -114.56     33.69
3        -114.57     33.64
4        -114.57     33.57
...          ...       ...
16995    -124.26     40.58
16996    -124.27     40.69
16997    -124.30     41.84
16998    -124.30     41.80
16999    -124.35     40.54

[17000 rows x 2 columns]

In [ ]:
df.loc[0:5,['longitude','latitude']] 
# using loc function includes both starting and ending position
# its a special slicing technique

   longitude  latitude
0    -114.31     34.19
1    -114.47     34.40
2    -114.56     33.69
3    -114.57     33.64
4    -114.57     33.57
5    -114.58     33.63

In [ ]:
df.loc[0,['longitude','latitude']]

longitude   -114.31
latitude      34.19
Name: 0, dtype: float64

In [ ]:
# get single/scalar value
print(df.loc[0,'longitude'])
print(df.at[0,'longitude'])

-114.31
-114.31

In [ ]:
%%timeit
df.loc[0,'longitude']

The slowest run took 10.05 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 5: 8.21 µs per loop

In [ ]:
# Faster access
%%timeit
df.at[0,'longitude']

The slowest run took 14.61 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 5: 3.74 µs per loop

In [ ]:
# Similar to label selection, using .iloc the dataframe could be sliced
# using column position and row position

# To get the scalar value faster .iat shall be used

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
# Boolean Indexing

df[df.population > 15000] # Get records where population is > 15K

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2274,-117.42,33.35,14.0,25135.0,4819.0,35682.0,4769.0,2.5729,134400.0
2871,-117.74,33.89,4.0,37937.0,5471.0,16122.0,5189.0,7.4947,366300.0
2969,-117.78,34.03,8.0,32054.0,5290.0,15507.0,5050.0,6.0191,253900.0
3296,-117.87,34.04,7.0,27700.0,4179.0,15037.0,4072.0,6.6288,339700.0
12772,-121.79,36.64,11.0,32627.0,6445.0,28566.0,6082.0,2.3087,118800.0

In [ ]:
df.head()[df<0] # A where operation occurs in entire dataframe
# The condition is checked for the entire dataframe
# Records or not filtered, instead of a cell value matches the condition
# then its value is displayed, else NaN is displayed

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-114.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-114.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-114.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-114.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfcopy = df.head().copy()

In [ ]:
dfcopy['filter'] = pd.Series(list('12345'))

In [ ]:
dfcopy

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,filter
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,1
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,2
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,3
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,4
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,5

In [ ]:
# .isin function can be used to filter the record based on the values present in
# dataframe

dfcopy[dfcopy['filter'].isin(['2','4'])]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,filter
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,2
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,4

In [ ]:
dfcopy['filter'].isin(['2','4'])
# returns a masked array, boolean indexing is applied on the dataframe

0    False
1     True
2    False
3     True
4    False
Name: filter, dtype: bool

In [ ]:
# The values can be set using [], .loc, .iloc, .at, .iat methods