<a href="https://colab.research.google.com/github/KishorSubbarayalu/Pandas-Exercise/blob/objectCreaion-ViewObject/Pandas_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [4]:
# Series Creation

series = pd.Series([1,2,3,np.nan,9])

In [3]:
series

0    1.0
1    2.0
2    3.0
3    NaN
4    9.0
dtype: float64

In [12]:
# Difference between None and NaN,nan,NAN

a = pd.Series([1,2,None])
b = pd.Series([1,2,np.nan])
print(a)
print(b)

# Pandas type casts the None object to np.nan float type so that most of the 
# functions could be performed on the series

0    1.0
1    2.0
2    NaN
dtype: float64
0    1.0
1    2.0
2    NaN
dtype: float64

In [13]:
a = pd.Series([1,2,None], dtype='O')
b = pd.Series([1,2,np.nan])
print(a)
print(b)

# In this case, as we type casted the data type of the series is 'Object'

0       1
1       2
2    None
dtype: object
0    1.0
1    2.0
2    NaN
dtype: float64

In [15]:
None + 5 # Results in type error

TypeError: ignored

In [18]:
np.nan + 5 # Any operations to nan in nan
# There are several functions in numpy to exculde NaN and perform operations
# such as sum, max, mean, std, var, etc

nan

In [22]:
# Equality Operation

print(None == None)
print(np.NaN == np.NaN)
print(None == np.NaN)

True
False
False

In [26]:
# Other functions should be used to check the NAN values


print(pd.isna(np.nan))
print(pd.isna(None))
print(pd.isnull(np.nan))
print(pd.isnull(None))

# isna() and isnull() of pandas are same implementations

print(np.isnan(np.nan))
print(np.isnan(None)) # Numpy functions are not applicable to 'None' object

True
True
True
True
True

TypeError: ignored

In [27]:
# https://github.com/pandas-dev/pandas/issues/32265
# https://kegui.medium.com/what-is-the-difference-between-nan-none-pd-nan-and-np-nan-a8ee0532e2eb
# https://www.askpython.com/python/examples/nan-in-numpy-and-pandas

In [42]:
# Dataframe Creation

date = pd.date_range('20220503',periods=6)
date
df = pd.DataFrame(np.random.randn(6,4), index=date, columns=['a','b','c','d'])
# randn() returns 6*4 numbers from standard normal distribution
print(df)
print(df.dtypes)

                   a         b         c         d
2022-05-03 -0.405449  0.363306  1.376046  0.940397
2022-05-04 -1.002489  0.243941  0.325529  0.320393
2022-05-05  0.341818 -0.665254 -0.089124  0.028798
2022-05-06 -1.569562  1.563290 -0.287468 -1.498427
2022-05-07 -0.040120 -0.168532 -1.338653 -1.201339
2022-05-08  0.485301 -0.163803  1.865665  0.934281
a    float64
b    float64
c    float64
d    float64
dtype: object

In [44]:
df2 = pd.DataFrame({ 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
      'D' : np.array([3] * 4,dtype='int32'),
      'E' : pd.Categorical(["test","train","test","train"]),
      'F' : 'foo' })
print(df2)
print(df2.dtypes)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [48]:
df2.head(2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

In [49]:
df2.tail(2)

     A          B    C  D      E    F
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [50]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [53]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [54]:
df2.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [55]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [62]:
df2.describe(include='all')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

          A                    B    C    D     E    F
count   4.0                    4  4.0  4.0     4    4
unique  NaN                    1  NaN  NaN     2    1
top     NaN  2013-01-02 00:00:00  NaN  NaN  test  foo
freq    NaN                    4  NaN  NaN     2    4
first   NaN  2013-01-02 00:00:00  NaN  NaN   NaN  NaN
last    NaN  2013-01-02 00:00:00  NaN  NaN   NaN  NaN
mean    1.0                  NaN  1.0  3.0   NaN  NaN
std     0.0                  NaN  0.0  0.0   NaN  NaN
min     1.0                  NaN  1.0  3.0   NaN  NaN
25%     1.0                  NaN  1.0  3.0   NaN  NaN
50%     1.0                  NaN  1.0  3.0   NaN  NaN
75%     1.0                  NaN  1.0  3.0   NaN  NaN
max     1.0                  NaN  1.0  3.0   NaN  NaN

In [65]:
# transposing index to columns and columns to index

print(df2.T)
print(df2.T.index)
print(df2.T.columns)

                     0                    1                    2  \
A                  1.0                  1.0                  1.0
B  2013-01-02 00:00:00  2013-01-02 00:00:00  2013-01-02 00:00:00
C                  1.0                  1.0                  1.0
D                    3                    3                    3
E                 test                train                 test
F                  foo                  foo                  foo

                     3
A                  1.0
B  2013-01-02 00:00:00
C                  1.0
D                    3
E                train
F                  foo
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')
Int64Index([0, 1, 2, 3], dtype='int64')

In [67]:
# Sorting the dataframe by axis

df2.sort_index(axis=0, ascending=False)

     A          B    C  D      E    F
3  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
0  1.0 2013-01-02  1.0  3   test  foo

In [68]:
df2.sort_index(axis=1, ascending=False)

     F      E  D    C          B    A
0  foo   test  3  1.0 2013-01-02  1.0
1  foo  train  3  1.0 2013-01-02  1.0
2  foo   test  3  1.0 2013-01-02  1.0
3  foo  train  3  1.0 2013-01-02  1.0

In [77]:
# Key attribute shall be used to apply a function/logic to index label before
# performing sorting. By defualt, quick sorting occurs
# Other algorithms in pandas {quicksort, mergesort, heapsort, stable}

df2.T.sort_index(key=lambda z : z.str.lower(), ascending=False)

,0,1,2,3
F,foo,foo,foo,foo
E,test,train,test,train
D,3,3,3,3
C,1.0,1.0,1.0,1.0
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
A,1.0,1.0,1.0,1.0

In [83]:
# Sorting the dataframe by values

print(df)
print(df.sort_values(by='a'))
df2['G'] = pd.Series([1,2,4,3])
print(df2)
print(df2.sort_values(by=['E','G']))

                   a         b         c         d
2022-05-03 -0.405449  0.363306  1.376046  0.940397
2022-05-04 -1.002489  0.243941  0.325529  0.320393
2022-05-05  0.341818 -0.665254 -0.089124  0.028798
2022-05-06 -1.569562  1.563290 -0.287468 -1.498427
2022-05-07 -0.040120 -0.168532 -1.338653 -1.201339
2022-05-08  0.485301 -0.163803  1.865665  0.934281
                   a         b         c         d
2022-05-06 -1.569562  1.563290 -0.287468 -1.498427
2022-05-04 -1.002489  0.243941  0.325529  0.320393
2022-05-03 -0.405449  0.363306  1.376046  0.940397
2022-05-07 -0.040120 -0.168532 -1.338653 -1.201339
2022-05-05  0.341818 -0.665254 -0.089124  0.028798
2022-05-08  0.485301 -0.163803  1.865665  0.934281
     A          B    C  D      E    F  G
0  1.0 2013-01-02  1.0  3   test  foo  1
1  1.0 2013-01-02  1.0  3  train  foo  2
2  1.0 2013-01-02  1.0  3   test  foo  4
3  1.0 2013-01-02  1.0  3  train  foo  3
     A          B    C  D      E    F  G
0  1.0 2013-01-02  1.0  3   test  foo  1
2  1.0 2013-01-02  1.0  3   test  foo  4
1  1.0 2013-01-02  1.0  3  train  foo  2
3  1.0 2013-01-02  1.0  3  train  foo  3